# **Queries**

In [31]:
from opusapi import OPUSAPIRaw, OPUSAPI, Query, MultQuery, StringQuery, RangeQuery, OR

In [32]:
R=OPUSAPIRaw()

In [33]:
O=OPUSAPI()

In [2]:
mq1=MultQuery('target', 'Saturn Rings')

In [3]:
mq1

MultQuery('target','Saturn Rings')

In [4]:
print(mq1)

MultQuery target=Saturn Rings

In [5]:
mq2=MultQuery('planet',['Earth','Jupiter','Saturn'])

In [6]:
mq2

MultQuery('planet',['Earth', 'Jupiter', 'Saturn'])

In [7]:
print(mq2)

MultQuery planet=Earth,Jupiter,Saturn

In [8]:
sq1=StringQuery('volumeid', 'COISS_2001')

In [9]:
sq1

StringQuery('volumeid','COISS_2001','contains')

In [10]:
print(sq1)

StringQuery volumeid=COISS_2001 (contains)

In [11]:
sq2=StringQuery('volumeid', 'COISS_2002', 'matches')

In [12]:
sq2

StringQuery('volumeid','COISS_2002','matches')

In [13]:
print(sq2)

StringQuery volumeid=COISS_2002 (matches)

In [14]:
rq1=RangeQuery('rightasc', minimum=10)

In [15]:
rq1

RangeQuery('rightasc',minimum=10.0)

In [16]:
print(rq1)

RangeQuery rightasc min=10.0

In [17]:
rq2=RangeQuery('rightasc', maximum=30)

In [18]:
rq2

RangeQuery('rightasc',maximum=30.0)

In [19]:
print(rq2)

RangeQuery rightasc max=30.0

In [20]:
rq3=RangeQuery('rightasc', minimum=30, maximum=35, qtype='any')

In [21]:
rq3

RangeQuery('rightasc',minimum=30.0,maximum=35.0,qtype='any')

In [22]:
print(rq3)

RangeQuery rightasc min=30.0 max=35.0 (qtype any)

In [23]:
rq4=RangeQuery('rightasc', minimum=70, maximum=90, qtype='only', unit='degrees')

In [24]:
rq4

RangeQuery('rightasc',minimum=70.0,maximum=90.0,qtype='only',unit='degrees')

In [25]:
print(rq4)

RangeQuery rightasc min=70.0 max=90.0 (qtype only) [degrees]

In [26]:
q1=Query(mq1,mq2,OR(sq1,sq2),OR(rq3,rq4))

In [27]:
q1

Query(MultQuery('target','Saturn Rings'),MultQuery('planet',['Earth', 'Jupiter', 'Saturn']),OR(StringQuery('volumeid','COISS_2001','contains'),StringQuery('volumeid','COISS_2002','matches')),OR(RangeQuery('rightasc',minimum=30.0,maximum=35.0,qtype='any'),RangeQuery('rightasc',minimum=70.0,maximum=90.0,qtype='only',unit='degrees')))

In [28]:
print(q1)

OPUS Query with search terms:
  MultQuery target=Saturn Rings
  MultQuery planet=Earth,Jupiter,Saturn
  OR:
    StringQuery volumeid=COISS_2001 (contains)
    StringQuery volumeid=COISS_2002 (matches)
  OR:
    RangeQuery rightasc min=30.0 max=35.0 (qtype any)
    RangeQuery rightasc min=70.0 max=90.0 (qtype only) [degrees]

In [34]:
q1.get_api_params(R)

{'planet': 'Earth,Jupiter,Saturn',
 'qtype-rightasc_1': 'any',
 'qtype-rightasc_2': 'only',
 'qtype-volumeid_1': 'contains',
 'qtype-volumeid_2': 'matches',
 'rightasc1_1': 30.0,
 'rightasc1_2': 70.0,
 'rightasc2_1': 35.0,
 'rightasc2_2': 90.0,
 'target': 'Saturn Rings',
 'unit-rightasc_2': 'degrees',
 'volumeid_1': 'COISS_2001',
 'volumeid_2': 'COISS_2002'}

In [35]:
q1.get_api_params(O)

{'planet': 'Earth,Jupiter,Saturn',
 'qtype-rightasc_1': 'any',
 'qtype-rightasc_2': 'only',
 'qtype-volumeid_1': 'contains',
 'qtype-volumeid_2': 'matches',
 'rightasc1_1': 30.0,
 'rightasc1_2': 70.0,
 'rightasc2_1': 35.0,
 'rightasc2_2': 90.0,
 'target': 'Saturn Rings',
 'unit-rightasc_2': 'degrees',
 'volumeid_1': 'COISS_2001',
 'volumeid_2': 'COISS_2002'}